body {
    font-family: 'Comfortaa', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: black;
    padding: 0;
    margin: 0;
}


footer{
    text-align: left;
    background: #27282c;
    display: flex;
    margin-top: 0px ;
    margin-bottom: 0px;

}

footer h6{
    size: 3em;
    margin: 0px 0px 0px 30px;
    color: #4c4c4f;
    padding-bottom: 10px;
    display: inline-block;
}

/* ---------- LANDING HEADER ---------- */
.header {
    position: relative;
    background: url(../images/itescia_campus.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 825px;
    display: flex;
    justify-content: space-between;
} 


nav {
    margin: auto;
    flex-direction: row;
    justify-content: flex-end;
}

.logo {
    text-align: center;
    height: 111px;
    width: 357px;
    position: relative;
}

.landingcontent {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 30%;
}

.landingcontent h1 {
    color: white;
    font-weight: bold;
    border: 30px;
    font-family: 'Titillium Web', sans-serif;
    margin:0; 
}

.button {
	margin-bottom: 10px;
    background-color: #90323D;
    color: #90323D;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    padding: 15px 32px;
    display: inline-block;
    border-radius: 50px;
    border-color: transparent;
    outline:none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button a {
    text-decoration: none;
    color : white;
}

.button a:visited {
    text-decoration: none;
    color: white;
}

.button .button-candidate {
    margin: 25px 8px 0px 8px;
    color: #90323D;
}

.button-candidate:hover {
    background-color: white;
    color: #550C18;
}

.button-candidate:hover a {
    color: #90323D;
}

.button-gestion {
	padding: 5px 10px 5px 10px;
	color: white;
	border-color: transparent;
    outline: none;
    background-color: transparent;
    font-size: 18.72px;
}

.button-management {
	padding: 5px 10px 5px 10px;
	color: white;
	border-color: transparent;
    outline: none;
    background-color: transparent;
    font-size: 18.72px;
}

.button-informatique {
	padding: 5px 10px 5px 10px;
	color: white;
	border-color: transparent;
    outline: none;
    background-color: transparent;
    font-size: 18.72px;
}

.button-gestion:hover, .button-management:hover, .button-informatique:hover {
	box-shadow: 3px 5px 15px black ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50px;
    border-color: transparent;
    outline:none;
    margin: 0px;

    cursor: pointer;
}


        /* ---------- NAVBAR ---------- */
header nav {
    padding: 20px;
}

header ul {
    list-style-type: none;

}

header li {
    display: inline-block;
}

header li a {
    color: black;
    text-align: center;
    padding: 0px 10px;
    text-decoration: none;
}

header li a:hover {
    background: rgba(218, 213, 200, 0.5);
    border-radius: 5px 5px 0 0  ;
  }


nav ul{
    list-style-type: none;
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
}

nav ul li{
    float: left;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;

}

nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: black;
    border-bottom: 2px solid #90323D;
}

.sous{
    text-align: center;
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: rgba(245,245,245, 0.5);
    position: absolute;
    z-index: 1000;
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    text-align: center;
}

.sous a{
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.2);
}

.deroulant{
    padding: 0px;
    margin: 0px;
}
.deroulant > a::after{
    content:" ▼";
    font-size: 10px;
}


.white-nav{
    height: 2px;
    background: black;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 75%;
}

/*
.info {
	margin-top: 100px;
	margin-right: 10px;
	background-color: gray;
	padding: 0.1px 0px 10px 10px;
	border-radius: 10px;
}*/

/* ---------- DEGREE CHOICE (FIRST COLUMN) ---------- */

#degreechoice {
    background-color: black;
    color: white;
    margin: 0px;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
}

#seconddegreechoice {
	background-color: black;
    color: white;
    margin: 30px 0px 30px;
    padding: 20px;
}

.pagegauche a{
    color :white;
    text-decoration: none;
}

.pagegauche a:visited{
    text-decoration: none;
    color :white;
}

.formation-title {
    background-color: #550C18;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0px;
    
}

.gestion-title {
    background-image: radial-gradient(#6A8174, #40634F);
}

.mana-title {
    background-image: radial-gradient(#4d6873,#283b42);
}

.it-title{
    background-image: radial-gradient(#782c29, #5c2725);
}

.fc-title {
    background-image: radial-gradient(#631746,#4a1034);
}

.degreetable {
    width: 100%;
    text-align: center;
    padding: 10px;
}

.degreetable .padding-top-top td {
	padding-top: 10px;
}

.degreetable .padding-top-bot td {
	padding-top: 20px;
	padding-bottom: 10px;
}

.degreetable .padding-top td {
	padding-top: 20px;
}

/* CUSTOM DROPDOWN LIST */
.dropdown-content {
    width: 110px;
    height: 25px;
    border: 1px solid #999;
    font-size: 12px;
    color: black;
    background-color: #eee;
    margin-top: 10px;
    border-radius: 7px;
}

.dropdown-content:hover {

}


/* affichage des 2 pages flex */
/*PAGE1*/

.pagegauche {
	text-align: left;
	padding-bottom: 10px;
	background-color:white;
	border-radius: 10px;
	margin-left: 1%;

    box-shadow: 0px 0px 20px lightgray ;
	flex-basis: 48%;
}

.pagegauche:hover {
	box-shadow: 0px 0px 20px gray ;
	margin-left: 1.25%;
}


.pages {
    margin-top: 2%;
    margin-bottom: 1%;
	display: flex;
	justify-content: space-between;
}

/*PAGE DROITE*/
.pagedroite {
	border-radius: 10px;
    margin-right: 1%;

    box-shadow: 0px 0px 20px lightgray ;
    flex-basis: 48%;
}

.pagedroite:hover {
	box-shadow: 0px 0px 20px gray ;
	margin-right: 1.25%;
}

.pagedroite .titlepage2 {
    border-radius: 15px;
}

.pagedroite h2 {
    background-color: black;
    color : white;
    margin: auto ;
    padding: 20px 30px;
    margin-top: 5%;
    margin-bottom: 3%;
}

.pagedroite .title h2 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top : 0%;
}

.pagedroite  .coordonees input[type="text"],[type="tel"], [type="email"],[type="date"]
,.scolarite input[type="text"],[type="tel"], [type="email"],[type="date"],
.parrain input[type="text"],[type="tel"], [type="email"],[type="date"] ,
.info input[type="text"],[type="tel"], [type="email"],[type="date"] ,
.info2 input[type="text"],[type="tel"], [type="email"],[type="date"]{
    padding: 16px;
    margin-left: 10%;
    width: 75%;
    background: #f5f5f5;
    border: none;
    margin-top: 2%;
    margin-bottom: 1%;
}

.pagedroite input[type="date"] {
    width: 100px !important;
}

.pagedroite .coordonees, .scolarite, .parrain, .info, .info2 {
    margin-left: 3%;
}

.pagedroite .info2 input[type="text"]{
    margin-top: 0%;
    width: 40%;
    margin-left: 1%;
}

.white-divider{
    height: 2px;
    background: #f5f5f5;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 75%;
}

.button_cont {
    align-content: center;
}

/* position du date event */

.dateEvent {
	font-size: 20px;
	text-align: center;
}


/*FOOTER*/
.transitionImage{
    width:100%;
    margin-top: 30px ;
    margin-bottom: -10px;
}

#containImg li {
    text-decoration: none;
    height: 25px;
    width: 25px;
    display: inline-block;
    margin: 5px;
}
#containImg{
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.contectLogo{
    width: 40%;
    height: 1%;
}

.legal {

    margin: 24px 30px 0px 24px;
    width: 60%;
    color: white;
}

.legal a{
    text-decoration: none;
    color: white;
    margin-right: 10px;!important;

}

 footer .legal a:hover {
     color: #FFFFFF; 
     text-decoration: underline
    }

.fa-facebook-square, .fa-linkedin-square, .fa-github, 
.fa-twitter, .fa-youtube-play, .fa-paper-plane, .fa-instagram{
    color: black;
}
.fa-facebook-square:hover {
    color: #3b5998;  
}

.fa-linkedin-square:hover{
    color: #007bb5;
}

.fa-github:hover, .fa-instagram:hover {
    color: white;
}

.fa-twitter:hover {
    color: #1da1f2;
}

.fa-youtube-play:hover{
    color: #cd201f;
}

.fa-paper-plane:hover {
    color: #0088cc;
}

.contectLogo {
   margin-left: 45%;
    margin-top: 10px;

}

/*-------------Radios Animated-------------*/

@keyframes click-wave {
    0% {
        height: 20px;
        width: 20px;
        opacity: 0.35;
        position: relative;
    }
    100% {
        height: 100px;
        width: 100px;
        margin-left: -40px;
        margin-top: -40px;
        opacity: 0;
    }
}

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 13.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 20px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    margin-bottom: 1.5%;
    outline: none;
    position: relative;
}
.option-input:hover {
    background: #9faab7;
}
.option-input:checked {
    background: #90323D ;
}
.option-input:checked::before {
    height: 20px;
    width: 20px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 20px;
    text-align: center;
    line-height: 20px;
}
.option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #90323D;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}
.option-input.radio {
    border-radius: 50%;
}
.option-input.radio::after {
    border-radius: 50%;
}

/* ---------- RESPONSIVE DESIGN ---------- */

@media screen and (max-width:768px) {

	.pages {
	    margin-top: 2%;
	    margin-bottom: 1%;
		flex-wrap: wrap;
	}

	.pagegauche {
		text-align: left;
		padding-bottom: 10px;
		background-color:white;
		border-radius: 10px;
		margin: 0% 2% 1% 2%;

	    box-shadow: 0px 0px 20px lightgray ;
		flex-basis: 96%;
	}

	.pagedroite {
		border-radius: 10px;
		margin: 1% 2% 0% 2%;
	    margin-right: 2%;
	    margin-left: 2%;

	    box-shadow: 0px 0px 20px lightgray ;
	    flex-basis: 96%;
	}

	.pagegauche:hover {
		box-shadow: 0px 0px 20px gray ;
		flex-basis: 97%;
	}

	.pagegdroite:hover {
		box-shadow: 0px 0px 20px gray ;
		flex-basis: 97%;
    }

    .copyright{
        margin-left: -30px;
    }
    

}

/*--------SUBMIT BUTTON---------*/

.submitbutton{
    text-align: center;
}

@keyframes shadow-pulse
{
     0% {
          box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
     }
     100% {
          box-shadow: 0 0 0 30px rgba(0, 0, 0, 0);
     }
}

input[type=submit]{
    margin-top: 2%;
    display: inline-block;
    width: 200px;
    height: 70px;
    background-color: #550C18;
    border-radius: 50px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color : white;
    border : none;
}

.btn:hover {
	animation: shadow-pulse 1s infinite;
    cursor: pointer;
    transform: translateY(-3px);
    background-color: #90323D;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:focus {
    outline:0;
}




/*DATE PICKER*/
.demo-non-form {
    color: initial;
    width: 100%;
    padding: 10px;
    margin: 6px 0 12px 0;
    border: 1px solid #ccc;
    border-radius: 0;
    font-family: arial, verdana, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    -webkit-appearance: none;
}

.external-container button.external-button {
    font-weight: 400;
    padding: 10px;
    margin: 6px 0 13px 0;
    width: 100%;
}

input[type="text"],input[type="email"], input[type="tel"], input[type="text"] {
    font-size: 14px;
}

