body {
    font-family: 'Comfortaa', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: black;
    padding: 0;
    margin: 0;
}
footer{
    text-align: left;
    background: #27282c;
    display: flex;
    margin-top: 0px ;
    margin-bottom: 0px;
    position: static;
}

footer h6{
    size: 3em;
    margin: 0px 0px 0px 30px;
    color: #4c4c4f;
    padding-bottom: 10px;
    display: inline-block;
}

/* ---------- LANDING HEADER ---------- */
.header {
    position: relative;
    background: url(../images/itescia_campus.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 825px;
    display: flex;
    justify-content: space-between;
} 


nav {
    flex-direction: row;
    justify-content: flex-end;
}
.logo {
    text-align: center;
    height: 111px;
    width: 357px;
    position: relative;
}

.landingcontent {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
}

.landingcontent h1 {
    color: white;
    font-weight: bold;
    border: 30px;
    font-family: 'Titillium Web', sans-serif;
    margin:0; 
}

.button {
    background-color: #90323D;
    color: #90323D;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    padding: 15px 32px;
    display: inline-block;
    border-radius: 50px;
    border-color: transparent;
    outline:none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;

    cursor: pointer;
}

.button a {
    text-decoration: none;
    color : white;
}

.button a:visited {
    text-decoration: none;
    color: #90323D;
}


.button .button-candidate {
    margin: 25px 8px 0px 8px;
    color: #90323D;
}

.button-candidate:hover {
    background-color: white;
    color: #550C18;
}

.button-candidate:hover a {
    color: #90323D;
}



        /* ---------- NAVBAR ---------- */

header nav {
    padding: 20px;
}

header ul {
    list-style-type: none;

}

header li {
    display: inline-block;
}

header li a {
    color: black;
    text-align: center;
    padding: 0px 10px;
    text-decoration: none;
}

header li a:hover {
    background-color: lightgrey;
  }



.info {
	margin-top: 100px;
	margin-right: 10px;
	background-color: gray;
	padding: 0.1px 0px 10px 10px;
	border-radius: 10px;
}

/* ---------- DEGREE CHOICE (FIRST COLUMN) ---------- */

#degreechoice {
    background-color: black;
    color: white;
    margin: 0px;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
}

#seconddegreechoice {
	background-color: black;
    color: white;
    text-align: center;
    margin: 30px 0px 30px;
    padding: 20px;
}

#gestiontitle {
    background-color: #550C18;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0px;
    border: 1px solid black;
}

#manatitle {
    background-color: #2B303A;
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 0px;
    border: 1px solid black;
}

#ittitle{
    background-color: #2E0014;
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 0px;
    border: 1px solid black;
}

.degreetable {
    width: 100%;
    text-align: center;
    padding: 10px;
    

}

.degreetable-gestion {


}

.degreetable .padding-top-top td {
	padding-top: 10px;
}

.degreetable .padding-top-bot td {
	padding-top: 20px;
	padding-bottom: 10px;
}

.degreetable .padding-top td {
	padding-top: 20px;
}


/* affichage des 2 pages flex */
/*PAGE1*/

.pagegauche {
	text-align: left;
	padding-bottom: 10px;
	background-color:white;
	border-radius: 10px;
	margin-left: 1%;

    box-shadow: 0px 0px 20px lightgray ;
	/*box-shadow:16px 16px 16px gray,
	0px 0px 0px white; /*-8px -8px 16px white*/
	flex-basis: 48%;
}


.pages {
    margin-top: 2%;
    margin-bottom: 1%;
	display: flex;
	justify-content: space-between;
	flex-basis: 45%;
}





/*PAGE2*/

.pagedroite {
	border-radius: 10px;
    margin-right: 1%;

    box-shadow: 0px 0px 20px lightgray ;
    flex-basis: 48%;
}
.pagedroite .titlepage2 {
    border-radius: 15px;
}

.pagedroite h2 {
    background-color: black;
    color : white;
    margin: auto ;
    padding: 20px 30px;
    margin-top: 5%;
    margin-bottom: 3%;
}

.pagedroite .title h2 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top : 0%;
}

.pagedroite .scolarite input[type="text"],[type="tel"], [type="email"],[type="date"], .parrain input[type="text"],[type="tel"], [type="email"],[type="date"] , .info input[type="text"],[type="tel"], [type="email"],[type="date"] {
    padding: 16px;
    margin-left: 10%;
    width: 75%;
    background: #f5f5f5;
    border: none;
    margin-top: 2%;
    margin-bottom: 1%;
}

.pagedroite .coordonees input[type="text"],[type="tel"], [type="email"],[type="date"] {
    padding: 16px;
    margin-left: 10%;
    width: 75%;
    background: #f5f5f5;
    border: none;
    margin-top: 2%;
    margin-bottom: 1%;
}


.pagedroite input[type="date"] {
    width: 100px; !important;

}

.pagedroite .coordonees, .scolarite, .parrain, .info {
    margin-left: 3%;
}

.pagedroite .info {
    background-color: lightgray;
    margin: 1%;
}

.white-divider{
    height: 2px;
    background: #f5f5f5;;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 1%;
    width: 75%;
}

/* position du date event */

.dateEvent {
	font-size: 20px;
	text-align: center;
}

/* couleur titre */

body{
	font-family: 'Comfortaa', 'Muli', sans-serif;
}

h2 {
	color: red;
}

h3 {
	color: orange;
}


/*FOOTER*/

.transitionImage{
    width:100%;
    margin-top: 30px ;
    margin-bottom: -10px;
}

#containImg li {
    text-decoration: none;
    height: 25px;
    width: 25px;
    display: inline-block;
    margin: 5px;
}

.wt-offset-top-24 {
    margin-left: 30px;
    margin-top: 24px;
    margin-bottom: 24px;
    color: white;

}

.wt-offset-top-24 a{
    text-decoration: none;
    color: white;
}

 footer .wt-offset-top-24 a:hover {  color: #FFFFFF; text-decoration: underline}


.logoItescia{
    width: 10px;
    height: 10px;
}
.contectLogo {
   margin-left: 45%;
    margin-top: 10px;
}

/* ---------- RESPONSIVE DESIGN ---------- */

@media screen and (max-width:1260px) {

}

@media screen and (min-width: 200px) and (max-width:768px) {

}

